$color-background: #F5F5F5;
$color-primary: #00A0D2;
$color-text: #020202;
$color-white: #ffffff;
$color-gray: #555555;

$text--lineheight-large: 25px;
$text--lineheight-medium: 21px;
$text--lineheight-xlarge: 28px;
$text--lineheight-title: 22px;

$text--size-large: 18px;
$text--size-medium: 15px;
$text--size-xlarge: 20px;
$text--size-title: 24px;

$text--weight-bold: 600;
$text--weight-light: 300;
$text--weight-medium: 500;